
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * GENERAL
 */

/**
 * YOUR CODE HERE
 */

body {
    background-color: #DEB887;
}

 #container {
    text-align: center;
    max-width: 100%;
    


    p#title {
        font-family: 'Lobster', cursive;
        width: 100%;
        margin: 0;
        font-size: 55px;
        text-align: center;
        background-color: #fffacd;
    }

    input {
        width: 600px;
        height: 50px;
        font-size: 25px;
        text-align: center;
        margin: 15px;
    }

    

    img {
        display: inline-block;
        margin: 10px; 
        cursor: pointer;
    }
    

    #favorite {
        height: 30px;
        width: 30px;
    }

    #back{
        display: block;
        height: 30px;
        width: 30px;
    }

    #seeMyFavorites {
        display: block;
        margin: auto;
    }
}


